.check{
    background: orangered;
    text-decoration: line-through;
}
.fa-trash{
    color: aqua;
    background-color: orange;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: line-through;
}
.fa-check{
    color: blue;
    background-color: orangered;
}